<!DOCTYPE html>
<html>
    <head>{{> head}}</head>
    <body>
        {{> header}}
        {{> menu}}
        <main class="w3-container w3-col l9 m12">
        {{{body}}}
        </main>
        {{> aside}}
        {{> footer}}
    </body>
</html>