<div class="w3-section">
    <section class="w3-card w3-green w3-padding">
        <h1 class="w3-center">О нас</h1>
        <p class="w3-large">Сайт создан при участии Ростовского Ботанического сада</p>
        <div class="w3-border w3-padding w3-theme-l3 w3-justify">
            <p>Ботанический сад является госбюджетным учебно-научным подразделением ЮФУ, наделенным по доверенности ректора
            полномочиями юридического лица, имеющим отдельный бюджетный баланс и печать, занимает площадь 160,5 га с
            разнообразным рельефом, почвами, растительностью. Ботанический сад ЮФУ является особо охраняемой природной
            территорией (ООПТ) федерального значения в соответствии с № 33 – ФЗ и памятником природы Ростовской области
            в соответствии Постановлением Администрации Ростовской области от 10.10.2006 г. № 418. Стратегическая цель –
            устойчивое развитие Ботанического сада ЮФУ в качестве классического многофункционального ботанического сада,
            осуществляющего научно-исследовательскую, образовательную, природоохранную и просветительскую деятельность.</p>
            Стратегическими задачами Ботанического сада являются:
            <ul>
            <li>работа в контексте международной и национальной политик и стратегий сохранения биологического разнообразия;</li>
            <li>приостановка потери видов растений и их генетического разнообразия в регионе;</li>
            <li>регистрация растительного разнообразия с учетом современного распространения в природе, природоохранного
            статуса, негативных факторов, экономической ценности, наличия на охраняемых территориях и в коллекциях;</li>
            <li>обеспечение генетического разнообразия в коллекциях живых растений и обмен образцами с ботаническими садами
            мира;</li>
            <li>получение новых знаний посредством развития фундаментальных и прикладных исследований;
            интеграция научной и образовательной деятельности;</li>
            <li>формирование общественного понимания ценности биологического разнообразия и угроз, которым оно подвергается;</li>
            <li>обеспечение инновационного характера научной, образовательной и социально- культурной деятельности;</li>
            <li>создание условий для реализации профессионального и личностного потенциала каждого работника.</li>
            </ul>
            <p>
            Будучи одним из старейших и крупнейших садов в системе Министерства образования и науки РФ, Ботанический сад
            является действительным членом Регионального совета ботанических садов Северного Кавказа, Совета
            ботанических садов России и Международного совета ботанических садов по охране растений (BGCI), которые
            координируют научно-исследовательскую, природоохранную и просветительскую деятельность в системе
            ботанических садов России и мира.</p>
            <p> Ботанический сад осуществляет свою деятельность в рамках Международной
            программы ботанических садов по охране растений и Стратегии ботанических садов России по сохранению
            биоразнообразия растений, поддерживает двусторонний обмен информативным и семенным материалом с 20
            ботаническими садами России и с 65 ботаническими учреждениями зарубежных стран. </p>
            <p>На территории Ботанического
            сада находится уникальный степной участок, площадью 10 га, служащий эталоном естественной растительности, и
            минеральный источник, носящий имя Серафима Саровского, почитаемый как православная святыня. По международной
            классификации Ботанический сад ЮФУ является классическим многоцелевым садом – организацией с широкой сферой
            деятельности, включающей научно-исследовательскую, образовательную и культурно-просветительскую.</p>
            </div>
    </section>
</div>