<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Мхи <span class="w3-text-dark-gray w3-medium">(Bryophyta)</span></h1>
        <div class="w3-threequarter w3-padding">
            <p>Мхи — отдел высших растений, насчитывающий около 10 тысяч видов, объединённых примерно в 700 родов и 110—120
            семейств (общее число всех мохообразных, включая Печёночные мхи и Антоцеротовые мхи, составляет около 20
            000 видов). Как правило, это мелкие растения, длина которых лишь изредка превышает 50 мм; исключение
            составляют водные мхи, некоторые из которых имеют длину более полуметра, и эпифиты, которые могут быть ещё
            более длинными. Моховидные, как и другие Мохообразные, отличаются от других высших растений тем, что в их
            жизненном цикле гаплоидный гаметофит преобладает над диплоидным спорофитом.</p>
            <p>
            Ранее в этот отдел, помимо класса листостебельных мхов, или собственно мхов (в ранге класса — Bryopsida),
            включали также Печёночные мхи (в ранге класса — Marchantiopsida, или Hepaticopsida) и Антоцеротовые мхи (в
            ранге класса — Anthocerotopsida), но сейчас эти таксоны повышены до уровня собственных отделов
            Marchantiophyta и Anthocerotophyta. Для обозначения совокупности этих трёх отделов используется неформальный
            собирательный термин мохообразные (Bryophytes).</p>
        </div>
        <img src="/images/Haeckel_Muscinae.jpg" class="w3-quarter">
    </section>
</div>