<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1 class="w3-center">Календарь цветения</h1>
        <table class="w3-center w3-col l3 w3-large w3-margin padding-child w3-theme-l1">
            <tr>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td onclick="showTooltip('5')">5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td onclick="showTooltip('12')">12</td>
            </tr>
            <tr>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td onclick="showTooltip('19')">19</td>
            </tr>
            <tr>
                <td>20</td>
                <td>21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td onclick="showTooltip('26')">26</td>
            </tr>
            <tr>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div id="tooltips" class="w3-margin w3-container w3-col l4 w3-centered">
            <div class="w3-card-4 w3-hide w3-show" id="t5">
                <img src="/images/Polytrichum_commune-small.jpeg" style="width: 100%">
                <div class="w3-center w3-row">
                    <div class="w3-half w3-theme-light w3-padding">5 июня</div>
                    <div class="w3-half w3-padding">Тополь</div>
                </div>
            </div>
            <div class="w3-card-4 w3-hide" id="t12">
                <img src="/images/Polytrichum_commune-small.jpeg" style="width: 100%">
                <div class="w3-center w3-row">
                    <div class="w3-half w3-padding w3-theme-light">12 июня</div>
                    <div class="w3-half w3-padding">Ива</div>
                </div>
            </div>
            <div class="w3-card-4 w3-hide" id="t19">
                <img src="/images/Polytrichum_commune-small.jpeg" style="width: 100%">
                <div class="w3-center w3-row">
                    <div class="w3-half w3-padding w3-theme-light">19 июня</div>
                    <div class="w3-half w3-padding">Вяз</div>
                </div>
            </div>
            <div class="w3-card-4 w3-hide" id="t26">
                <img src="/images/Polytrichum_commune-small.jpeg" style="width: 100%">
                <div class="w3-center w3-row">
                    <div class="w3-half w3-padding w3-theme-light">26 июня</div>
                    <div class="w3-half w3-padding">Липа</div>
                </div>
            </div>
        </div>
    </section>
</div>