<div class="w3-row-padding w3-section">
    <div class="w3-third">
        <h2 class="w3-text-theme w3-center">Научная классификация</h2>
        <section class="w3-card-4 w3-bar-block w3-theme w3-margin-top">
            <a class="w3-bar-item w3-button" href="catalog/chlorophyta">Водоросли</a>
            <a class="w3-bar-item w3-button">Мхи</a>
            <a class="w3-bar-item w3-button">Хвойные</a>
            <a class="w3-bar-item w3-button">Цветковые</a>
        </section>
    </div>
    <div class="w3-third">
        <h2 class="w3-text-theme w3-center">По жизненной форме</h2>
        <section class="w3-card-4 w3-bar-block w3-theme w3-margin-top">
            <a class="w3-bar-item w3-button">Травы</a>
            <a class="w3-bar-item w3-button">Кустарники</a>
            <a class="w3-bar-item w3-button">Деревья</a>
            <a class="w3-bar-item w3-button">Лианы</a>
        </section>
    </div>
    <div class="w3-third">
        <h2 class="w3-text-theme w3-center">По времени цветения</h2>
        <section class="w3-card-4 w3-bar-block w3-theme w3-margin-top">
            <a class="w3-bar-item w3-button w3-theme-d2">Май</a>
            <a class="w3-bar-item w3-button">Июнь</a>
            <a class="w3-bar-item w3-button">Июль</a>
            <a class="w3-bar-item w3-button">Август</a>
        </section>
    </div>
</div>