<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Зелёные водоросли <span class="w3-text-dark-gray w3-medium">(Chlorophyta)</span></h1>
        <div class="w3-threequarter w3-padding">
            <p>Зелёные водоросли — группа низших растений. В современной систематике эта группа имеет ранг
                отдела, включающего одноклеточные и колониальные планктонные водоросли, одноклеточные и
                многоклеточные формы бентосных водорослей. Здесь встречаются все морфологические типы слоевища,
                кроме ризоподиальных одноклеточных и крупных многоклеточных форм со сложным строением. Многие
                нитчатые зелёные водоросли крепятся к субстрату только на ранних стадиях развития, затем они
                становятся свободноживущими, формируя маты или шары.</p>
            <p>Зелёные водоросли — самый обширный на данное время отдел водорослей: по приблизительным подсчётам
                сюда входит от 13 000 до 20 000 видов. Все они отличаются в первую очередь чисто-зелёным цветом
                своих слоевищ, сходным с окраской высших растений и вызванным преобладанием хлорофилла над
                другими пигментами.</p>
        </div>
        <img src="/images/Haeckel_Siphoneae.jpg" class="w3-quarter">
    </section>
</div>