<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Травянистые растения</h1>
        <div class="w3-threequarter w3-padding">
            <p>
                Травянистые растения, также травы, — жизненная форма высших растений. Травы имеют листья и стебли,
                отмирающие в конце вегетационного периода на поверхность почвы. Они не имеют постоянного древесного
                ствола над землёй. Травянистые растения бывают как однолетними и двулетними, так и многолетними[2].

                Некоторые сравнительно быстро растущие травянистые растения (особенно однолетние) являются
                растениями-пионерами, первыми заселяющими новые места обитания и определяющими анагенез растительных
                видов. Другие растительные виды формируют основную растительность многих стабильных сред обитания,
                развивающихся, например, в приземном слое лесов или в естественных открытых средах обитания, таких как
                луга, солончаки или пустыни.
            </p>
        </div>
        <img src="/images/Grass.jpg" class="w3-quarter">
    </section>
</div>