<div class="flex-container">
    {{#each blocks}}
    <div class="w3-padding w3-half">
        <section class="w3-card-4 w3-container w3-theme w3-margin-top">
            <img src="/images/Polytrichum_commune-small.jpeg" alt="" class="w3-col">
            <div class="w3-col w3-padding">
                <span class="w3-xlarge">{{name}}</span>
                <p class="w3-small">{{description}}
        </section>
    </div>
    {{/each}}
</div>