<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Лиана</h1>
        <div class="w3-threequarter w3-padding">
            <p>
                Лианы — разнообразные вьющиеся растения, как деревянистые, с
                вечнозелёными или опадающими листьями, так и травянистые, с относительно слабыми тонкими многолетними
                или однолетними стеблями. Не будучи в состоянии свободно держаться в воздухе, они находят вертикальную
                опору при помощи усиков, придаточных корней, прицепок и поднимаются высоко в воздухе, где и развивают
                листву и цветки.
            </p>
        </div>
        <img src="/images/Cynanchum_aphyllum.jpg" class="w3-quarter">
    </section>
</div>