<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Классификация по жизненной форме</h1>
        <div class="w3-col w3-padding">
            <p>Жизненная форма растений — внешний облик растений, отражающий
                их приспособленность к условиям среды.</p>
            <p>Несмотря на разнообразие жизненных форм растений, можно выделить некоторые общие критерии, на основании
                которых множество жизненных форм будет разбито на группы.</p>
            <p>Однако, никакой единой классификации по жизненной форме не существует. Одна из самых распространённых -
                та, которая описывает общий внешний вид:</p>
            <ul>
                <li>Древесные растения
                    <ul>
                        <li>Деревья</li>
                        <li>
                            Кустарники
                            <ul>
                                <li>Полукустарники</li>
                            </ul>
                        </li>
                        <li>Лианы</li>
                    </ul>
                </li>
                <li>Травянистые растения</li>
                <li>Другие: лозы, растения-подушки, тростники, пальмы</li>
            </ul>
    </section>
</div>