<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Цветковые <span class="w3-text-dark-gray w3-medium">(Magnoliophyta, или Angiospermae)</span></h1>
        <div class="w3-threequarter w3-padding">
            <p>
                Цветковые - отдел высших растений, отличительной особенностью которых является наличие цветка в качестве
                органа полового размножения и замкнутого вместилища у семяпочки (а затем и у происшедшего из неё семени,
                откуда и появилось название покрытосеменные). Ещё одна существенная особенность цветковых растений —
                двойное оплодотворение.
            </p>
        </div>
        <img src="/images/Magnolia.jpg" class="w3-quarter">
    </section>
</div>