<div class="w3-section">
    <section class="w3-card w3-green w3-padding">
        <h1>Архив новостей</h1>
        <ul class="w3-container w3-ul w3-large">
                <li class="w3-row">
                    <p>Появилось 3 новых сорта роз<span class="w3-right w3-text-indigo">20 июня</span></p>
                </li>
                <li class="w3-row">
                    <p>Зацвёл редкий цветок<span class="w3-right w3-text-indigo">15 июня</span></p>
                </li>
                <li class="w3-row">
                    <p>Требуется помощь в уборке сада<span class="w3-right w3-text-indigo">14 июня</span></p>
                </li>
                <li class="w3-row">
                    <p>Открыт набор на курсы флористов<span class="w3-right w3-text-indigo">3 июня</span></p>
                </li>
                <li class="w3-row">
                    <p>Приглашаем на ночные экскурсии<span class="w3-right w3-text-indigo">29 мая</span></p>
                </li>
            </ul>
    </section>
</div>