<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Хвойные <span class="w3-text-dark-gray w3-medium">(Pinóphyta или Coníferae)</span></h1>
        <div class="w3-threequarter w3-padding">
            <p>
            Хвойные — один из отделов царства растений, к которому относятся
            сосудистые растения, чьи семена развиваются в шишках. Все современные виды — древесные растения,
            преобладающее большинство — деревья, хотя есть и кустарники. Типичные представители — кедр, кипарис, пихта,
            можжевельник, лиственница, ель, сосна, секвойя, тис, каури и араукария. Хвойные растения произрастают в
            диком виде почти во всех частях света. Часто они преобладают над другими растениями, например в таких
            биомах, как тайга. 
            </p>
            <p>Хвойные растения имеют неоценимое экономическое значение, в основном в качестве
            лесоматериала и сырья для производства бумаги. Древесина хвойных относится к типу так называемых мягких
            пород.
            </p>
        </div>
        <img src="/images/Haeckel_Coniferae.jpg" class="w3-quarter">
    </section>
</div>