<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Научная классификация</h1>
        <div class="w3-col w3-padding">
            <p>В научной классификации выделяют 7 основных категорий:</p>
            <ol>
                <li>царство</li>
                <li>тип (у растений отдел)</li>
                <li>класс</li>
                <li>отряд (у растений порядок)</li>
                <li>семейство</li>
                <li>род</li>
                <li>вид</li>
            </ol>
            <p>Любое растение или животное должно последовательно принадлежать ко всем семи категориям. Часто систематики
            выделяют дополнительные категории, используя для этого приставки под-, инфра- и над-, например: подтип,
            инфракласс, надкласс. Такие категории обязательными не являются, то есть при систематизации объекта их можно пропустить. </p>
        <img src="/images/Biological_classification.svg" class="w3-quarter w3-center w3-margin">
            <p>Кроме того, часто выделяются и другие категории: раздел
            между подцарством и надтипом у животных, когорта  между подклассом и надпорядком, триба
            между подсемейством и родом, секция между подродом и видом, и так далее. Часто такие
            категории используются лишь в систематике каких-то конкретных таксонов (например, насекомых). Обычно
            названия таксонов формируются с помощью стандартных суффиксов.</p>
        <p>Домены — относительно новый способ классификации. Трёхдоменная система была предложена в 1990 году, однако до сих пор не принята окончательно. Большинство биологов принимает эту систему доменов, однако значительная часть продолжает использовать пятицарственное деление. Одной из главных особенностей трёхдоменного метода является разделение архей (Archaea) и бактерий (Bacteria), которые ранее были объединены в царство бактерий. Существует также малая часть учёных, добавляющих археев в виде шестого царства, но не признающих домены.</p>        </div>
    </section>
</div>