<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Кустарник</h1>
        <div class="w3-threequarter w3-padding">
            <p>
                Кустарник — жизненная форма растений; многолетние деревянистые растения высотой 0,8—6 метров, в
                отличие от деревьев не имеющие во взрослом состоянии главного ствола, а имеющие несколько или много
                стеблей, часто существующих бок о бок и сменяющих друг друга. Продолжительность жизни 10—20 лет.
            </p>
            <p>
                Чаще всего расположены на границе лесов (кустарниковая степь, лесотундра). В лесах обычно образуют
                подлесок.
            </p>
        </div>
        <img src="/images/Lilac.jpg" class="w3-quarter">
    </section>
</div>