<div class="w3-section">
    <section class="w3-card w3-padding w3-theme w3-container">
        <h1>Дерево</h1>
        <div class="w3-threequarter w3-padding">
            <p>
                Дерево — жизненная форма деревянистых растений с единственной, отчётливо выраженной,
                многолетней, в разной степени одревесневшей, сохраняющейся в течение всей жизни, разветвлённой (кроме
                пальм) главной осью — стволом
            </p>
        </div>
        <img src="/images/Sequoiadendron.jpg" class="w3-quarter">
    </section>
</div>